/* Set Your Own Margin & Padding */
h1, h2, h3, p {
	margin: 10px 0px;
}

/* Layout for Style Tile*/
div .stuff {
	width: 1%;
	height: auto;
}

h1 {
	font-family: 'Merriweather Sans', 'sans-serif';
	font-weight: 800;
	color: #49557F;
}

h2 {
	font-family: 'Merriweather Sans', 'sans-serif';
	font-weight: 700;
	color: #70737F;
}

h3 {
	font-family: 'Merriweather Sans', 'sans-serif';
	font-weight: 400;
	color: #70737F;
}

p,
em {
	font-family: 'Merriweather Sans', 'sans-serif';
	font-weight: 300;
}

a {
	color:#49557F;
}

section {
	margin: 20px 0;
}

.color-1,
.color-2,
.color-3,
.pattern-1,
.pattern-2,
.pattern-3 {
	border: 1px solid #000;
	float: left;
	margin: 0 10px;
	height: 50px;
	width: 50px;
	overflow: hidden;
}

.color-1 {
	background: #70737F;
}

.color-2 {
	background: #49557F;
}

.color-3 {
	background: #FFFFFF;
}

.logo {
	width: 200px;
	height: 200px;
	max-width: 100%; 
	max-height: 100%;
}

/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}